body{
    background: url(banner.jpg);
    background-size: cover;
    font-family:sans-serif ;
    
}
.container{
    width: 40%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 7%;
}
hr{
    width: 80%;
}
.fb{
    padding: 0.5rem 2rem;
    color: #fff;
    background-color: #4267b2;
    border: none;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
.container input{
    padding: 0.5rem;
    width: 70%;
}
/* for adjusting the width of checkbox*/
 .container input[type=checkbox]{
     width: auto;
 }
 /* sign up at the end*/
 .btn{
     padding: 1rem;
     background-color: #2ecc71;
     width: 50%;
     border-radius: 7px;
     font-size: 1rem;
     border: none;
 }
